http://localhost:1338

header {
        Access-Control-Allow-Origin  *
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
}

@corspreflight {
	method OPTIONS
	path   *
}

respond @corspreflight 204

reverse_proxy * http://lcdserver:1337

log {
	output stdout
	level  DEBUG
}
